html, body, #root {
  height: 100%;
}

.App {
  height: 100%;
}

.sidebar {
  width: 300px;
  display: inline-block;
  height: 100%;
  vertical-align: top;
  overflow: auto;
}

.map-wrapper {
  width: calc(100% - 300px);
  display: inline-block;
  height: 100%;
}
